---
layout: default
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository %}
{% endif %}
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        {% if page.cmd %}
          <div class="collection-info">
            <span class="meta-info">
              {{ page.title}}
            </span>
          </div>
          <h1 class="collection-header">{{ page.cmd }}</h1>
        {% else %}
          {% if page.subtitle %}
          <h1 class="collection-header">{{ page.title }}</h1>
          <div class="collection-info">
            <span class="meta-info">
              {{ page.subtitle}}
            </span>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="column one-fourths mobile-hidden">
      {% include sidebar-qrcode.html %}
    </div>
  </div>
</div>
</section>


<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    {% include content-header-ad.html %}
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    {% include content-footer-ad.html %}
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>

